NEXT_PUBLIC_CROWDFUNDING_ADDRESS=0x9fE46736679d2D9a65F0992F2272dE9f3c7fa6e0
NEXT_PUBLIC_LOCAL_CROWDFUNDING_ADDRESS=0x9fE46736679d2D9a65F0992F2272dE9f3c7fa6e0
NEXT_PUBLIC_SEPOLIA_CROWDFUNDING_ADDRESS=
NEXT_PUBLIC_DEPLOYED_CHAIN_ID=31337
